extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jonathan J. Jolivette

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | My aim is to continue to develop and refine my technical skills so that I may begin to utilize my programming, communication, and teamwork skills as a software engineer apprentice. I look forward to not only growing as a developer as a result of the experience and exposure that will come from the opportunity to serve as an apprentice level software engineer but also contributing to the overrall productivity of an exceptional design and development team. My overrall desire is to arrive at point where I am effectively and efficiently contributing to the evolution of a handful of the creative tools & services developed that not reach but aid people around the world.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul.skills#skillsList
          li JavaScript ES6
          li Express.js
          li React.js
          li Node.js
          li GIT
          li SQL
          li CSS3
          li AJAX
          li HTML5
          li jQuery
          li Adobe Creative Cloud
          li Command Line Interface
        h6 Contact Info

        ul
          li jonathan.jolivette@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jjjolivette') LinkedIn
        a.button.expanded(href='https://www.github.com/johnhenry-2020') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
