extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jonathan J. Jolivette

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My objective is to utilize my current programming, communication, and teamwork skills as an Apprentice Software Engineer.
            | My aim is to effectively and efficiently contribute to the evolution of the creative tools & services developed to better the lives of those around us and around the world.
            | I look forward to not only growing as a developer as a result of the experience and exposure that will come from my time as an Apprentice Engineer but also to contributing to the overrall productivity of an exceptional design and development team.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.skills#skillsList
          li JavaScript ES6
          li Express.js
          li React.js
          li Node.js
          li GIT
          li SQL
          li CSS3
          li AJAX
          li HTML5
          li jQuery
          li Adobe Creative Cloud
          li Command Line Interface
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li jonathan.jolivette@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
