<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Jonathan Jolivette's Node Javascript Portfolio Project
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src="/static/images/jolivette-avatar.png")
          .cell.auto

            h5 Jonathan J. Jolivette

            //- Description...
            p.text-light
              | I am an aspiring (digital alchemist) designer/developer, who desires to successfully create harmony between the very things that are naturally in conflict one another, creativity & logic. Although I am a lifelong learner it is upon successful completion of my current Javascript Fullstack Tech Degree studies that I will begin to serve as design-minded developer. I look forward to building with you.

            //- About page route for Learn More tab...
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Name span for mobile screens...
          span.title-bar-title Jonathan J. Jolivette
      block content



  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
